<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>[#title#]</title>
<meta content="website" property="og:type"/>
<meta content="" property="og:image"/>
<meta content="AutoSite" name="og:site_name"/>
<meta content="[#title#]" name="og:title"/>
<meta content="[#description#]" name="og:description"/>
<meta content="#008751" name="theme-color"/>
<link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1 class="page-header">PICO-8 Wiki</h1>
<div class="row">
<div class="col-md-2">
[#sidebar#]
</div>
<div class="col-md-10">
[#content#]
</div>
</div>
</div>
</body>
</html>
